<template>
    <div class="homecard">
            <b-card-group deck>
                <b-card no-body bg-variant="info" text-variant="white" class="text-center">
                    <b-card-header> 
                        <b-icon icon="newspaper" scale="2" variant="light"  style="margin-right:15px;"></b-icon> Mes annonces
                    </b-card-header>
                    <b-card-body href="#/offers">
                        <b-card-text>Accèder aux annonces.</b-card-text>
                    </b-card-body>
                </b-card>
                <b-card no-body bg-variant="secondary" text-variant="white" class="text-center">
                    <b-card-header> 
                        <b-icon icon="building" scale="2" variant="light"  style="margin-right:15px;"></b-icon> Mes biens
                    </b-card-header>
                    <b-card-body href="#/myprops">
                        <b-card-text>Gérer mes biens.</b-card-text>
                    </b-card-body>
                </b-card>
            </b-card-group>
        </div>
</template>