<template>
    <div>
        <b-card no-body>
            <b-card-header>
                Offres disponible
            </b-card-header>
            <b-card-body class="col-10 row d-flex justify-content-center" style="margin: auto;">
                <b-card v-for="prop in propsOnSellCollection" :key="prop.id"
                 img-src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=667&q=80" 
                    :title="prop.name" img-alt="Card image" img-left class="mb-3"
                    img-height="200"
                    style=" width:90%; "
                >
                    <b-card-text>
                    {{ prop.description }}
                    <h5> Type : {{prop.propTypeName}}</h5>
                    <h5> Surface : {{ prop.surface }} m²</h5>
                    <h3 style="color: brown; text-decoration: underline;">Prix : {{ prop.price }} </h3>    
                    <h5> Code postal : {{ prop.postalAddresse.substr( 0, 5) }} </h5>
                    <h5> Ville : {{ prop.postalAddresse.substr(  5 , prop.postalAddresse.length -1 ) }} </h5>
                    </b-card-text>
                    <template #footer>
                        <b-button @click="buyProperty(prop)" variant="success">
                            Acheter
                        </b-button>
                    </template>
                </b-card>
            </b-card-body>
            
        </b-card>
        <div v-if="isOperating" class="modal fade show" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-md" style="margin-top: 15%;">
                <div id="my-modal___BV_modal_content_" tabindex="-1" class="modal-content">
                    <span>OPERATION EN COURS ...</span>
                    <div id="my-modal___BV_modal_body_" class="modal-body">
                        <span role="status" class="spinner-border">
                        <span class="sr-only">Loading...</span>
                        </span>
                    </div>
                </div>
                <span tabindex="0"></span>
            </div>
        </div>
        <div v-if="isOperating" class="modal-backdrop"></div>
    </div>
</template>
<script>

import profileDataGetter from '../profileDataGetter'
import {ethers} from "ethers";
import { parseBytes32String } from 'ethers/lib/utils';

export default {
    data() {
        return {
            cmpData: null,
            propsIdsList: null,
            propsOnSellCollection: [],
            isOperating: false
        }
    },
    mounted() {
        profileDataGetter.loadComponentData()
            .then(res => {
                    console.log('Res  :', res)
                    this.cmpData = res
                    this.getPropsOnSell()
                    //console.log('props:', myProperties)
                }, error => {
                    console.error('Error : ', error)
                } 
            )
    },
    methods: {
        buyProperty(propToBuy){
            this.isOperating= true
            let pricePaiment = this.cmpData.web3.utils.toWei( (propToBuy.price).toString() , "ether")
            this.cmpData.contract.methods.transaction(propToBuy.id)
            .send({ from: this.cmpData.accounts[0], value:pricePaiment}).then(result => {
                this.isOperating = false
                swal("Enregistrée!", "Achat effectué avec succè.", "success")
                this.$router.push('/myprops');
            }, errpr => {
                this.isOperating = false
                swal("Erreur!", "L'achat n'a pas pu aboutir.", "error")
            })
        },
        getPropsOnSell(){
            this.cmpData.contract.methods.getMarketPlace().call({from: this.cmpData.accounts[0]}).then(props => {
                    console.log('props : => ', props)
                    this.propsIdsList = props
                    this.getPropsOnSellWithDetails()
                })
        },
        getPropsOnSellWithDetails(){
            this.propsIdsList.forEach(PID => {
                this.cmpData.contract.methods.getProperty(parseInt(PID)).call().then(
                    currentProp =>{
                        console.log('currentProp', currentProp)
                        var propTypeName = null
                        if(currentProp.propType == 'house')
                            propTypeName = 'Maison'
                        else if(currentProp.propType == 'apartment')
                            propTypeName = 'Appartement'
                        else if(currentProp.propType == 'field')
                            propTypeName = 'Terrain'
                        else if(currentProp.propType == 'parking')
                            propTypeName = 'Place de parking'
                        else 
                            propTypeName = 'other'
                        this.propsOnSellCollection.push({
                            'id': parseInt(PID),
                            'name': currentProp.name, 'description': currentProp.description,
                            'postalAddresse': parseBytes32String(currentProp.postalAddresse),
                            'creationDate' : parseBytes32String(currentProp.creationDate),
                            'price' : currentProp.price, 'surface' : currentProp.surface,
                            'propType': currentProp.propType, 'propTypeName' : propTypeName
                        } )
                    }
                )
            });
        }
    },
}
</script>