<template>
  <div >
    <img src="../assets/logo.png" style="height: 400px; width: 400px;">
    <div class="hollow-dots-spinner" >
      <div class="dot">
        <b-icon icon="house-fill" aria-hidden="true"></b-icon>
      </div>
      <div class="dot">
        <b-icon icon="house-fill" aria-hidden="true"></b-icon>
      </div>
      <div class="dot">
        <b-icon icon="house-fill" aria-hidden="true"></b-icon>
      </div>
    </div>
    <span> Chargement de votre profile... </span>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hollow-dots-spinner, .hollow-dots-spinner * {
      margin: auto;
      box-sizing: border-box;
    }

    .hollow-dots-spinner {
      height: 70px;
      width: 300px;
    }

    .hollow-dots-spinner .dot {
      width: 70px;
      height: 70px;
      margin: 0 calc(15px / 2);
      border: 1px solid #FFF;
      border-radius: 50%;
      float: left;
      transform: scale(0);
      animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
    }

    .hollow-dots-spinner .dot:nth-child(1) {
      animation-delay: calc(300ms * 1);
    }

    .hollow-dots-spinner .dot:nth-child(2) {
      animation-delay: calc(300ms * 2);
    }

    .hollow-dots-spinner .dot:nth-child(3) {
      animation-delay: calc(300ms * 3);

    }

    @keyframes hollow-dots-spinner-animation {
      50% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .b-icon.bi {
      height: 50px;
      width: 50px;
      color: #217bb2;
    }
</style>
