<template>
    <div>
        <b-card no-body>
            <b-card-header>
                Ajouter un nouveau bien.
            </b-card-header>
            <b-card-body class="col-6" style="margin: auto;">
                <b-form >
                    
                    <b-row class="justify-content-md-center">
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Titre"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="text"
                                v-model="name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        
                        <b-col col lg="6">
                             <b-form-group id="input-group-2" label="Type de bien:" label-for="input-2">
                                <b-form-select
                                    id="input-3"
                                    :options="propertyTypes"
                                    v-model="propType"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row class="justify-content-md-center">
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Prix"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="number"
                                v-model="price"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Surface (m²)"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="number"
                                v-model="surface"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row class="justify-content-md-center">
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Ville"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="text"
                                v-model="city"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Code postal"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="number"
                                v-model="zipCode"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-form-group
                        id="input-group-1"
                        label="Description"
                        label-for="input-1"
                    >
                        <b-form-textarea
                            id="textarea"
                            v-model="description"
                            placeholder="..."
                            rows="3"
                            max-rows="6"
                        ></b-form-textarea>
                    </b-form-group>

                    <b-button @click="saveProperty()" variant="primary">Enregistrer</b-button>
                    </b-form>
            </b-card-body>
        </b-card>
        <div v-if="isOperating" class="modal fade show" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-md" style="margin-top: 15%;">
                <div id="my-modal___BV_modal_content_" tabindex="-1" class="modal-content">
                    <span>OPERATION EN COURS ...</span>
                    <div id="my-modal___BV_modal_body_" class="modal-body">
                        <span role="status" class="spinner-border">
                        <span class="sr-only">Loading...</span>
                        </span>
                    </div>
                </div>
                <span tabindex="0"></span>
            </div>
        </div>
        <div v-if="isOperating" class="modal-backdrop"></div>
    </div>
</template>
<script>
import profileDataGetter from '../profileDataGetter'
import {ethers} from "ethers";
export default {
    data(){
        return{
            isOperating: false,
            picture: null,
            uploadedPictureLink: null,
            surface:0,
            price: 0,
            city: null,
            zipCode: null,
            propType: null,
            name: null,
            description: null,
            propertyTypes:[
                {text: 'Maison', value:'house'},
                {text: 'Appartement', value:'apartment'},
                {text: 'Terrain', value:'field'},
                {text: 'Place de parking', value:'parking'},
                {text: 'Autre', value:'other'}
            ]
        }
    },
    methods:{
        onPictureUpload(e){
            
            this.picture = e.target.files[0];
            let reader = new FileReader()

            reader.onload = (e) => {
                this.uploadedPictureLink = e.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
            console.log(this.uploadedPictureLink)
        },
        saveProperty(){
            this.isOperating = true
            let adresse = this.zipCode + this.city
            console.log(this.name, this.description, this.propType)
            console.log(adresse, this.surface, this.price )
            var contractCmp = null
            var dateobj = new Date(); 
            var _NowDate = dateobj.toISOString();
            profileDataGetter.loadComponentData()
            .then(res => {
                console.log('Res :', res)
                console.log('res contrats:', res.contract)
                res.contract.methods.createProperty(
                    this.name,
                    this.description,
                    this.propType,
                    ethers.utils.formatBytes32String(adresse),
                    ethers.utils.formatBytes32String("link"),
                    this.surface,
                    this.price,
                    ethers.utils.formatBytes32String(_NowDate),
                ).send({ from: res.accounts[0], gas: 300000 }).then(_ => {
                    this.isOperating = false
                    swal("Enregistrée!", "Votre bien a bien été enregistrer.", "success")
                    this.$router.push('/myprops');
                })            
            }, error => {
                this.isOperating = false
                swal("Erreur!", "L'enregistrement a échoué.", "Erreur")
            } 
            )


        }
    }
}
</script>