<template>
    <div>
        <b-card no-body>
            <b-card-header>
                Mes biens
            </b-card-header>
            <b-card-body class="col-10 row d-flex justify-content-center" style="margin: auto;">
                <b-card v-for="prop in myPropsCollections" :key="prop.id"
                    :title="prop.name"
                    img-src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=667&q=80"
                    img-alt="Image"
                    img-top
                    tag="article"
                    style="max-width: 20rem;"
                    class="mb-2 m-3"
                >
                    <b-card-text>
                    {{ prop.description }}
                    <br>
                    <h5> Type : {{prop.propTypeName}}</h5>
                    <h5> Surface : {{ prop.surface }} m²</h5>
                    <h3 style="color: brown; text-decoration: underline;">Prix : {{ prop.price }} </h3>    
                    <h5> Code postal : {{ prop.postalAddresse.substr( 0, 5) }} </h5>
                    
                    <h5> Ville : {{ prop.postalAddresse.substr(  5 , prop.postalAddresse.length -1 ) }} </h5>
                    </b-card-text>

                    <template #footer>
                        <b-button @click="editeProperty(prop.id, prop)" href="#" variant="info">
                            <b-icon icon="pencil-square" aria-hidden="true"></b-icon>
                        </b-button>
                        <b-button v-if="!prop.isForSale" @click="startSelling(prop.id)" variant="success">
                            Mettre en vente
                        </b-button>
                    </template>
                </b-card>
            </b-card-body>
        </b-card>
        <div v-if="updatingProp" class="modal fade show" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-md" style="margin-top: 15%;">
                <div id="my-modal___BV_modal_content_" tabindex="-1" class="modal-content">
                    <b-form >
                    
                    <b-row class="justify-content-md-center">
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Titre"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="text"
                                v-model="propOnEdit.name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row class="justify-content-md-center">
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Prix"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="number"
                                v-model="propOnEdit.price"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col col lg="6">
                            <b-form-group
                                id="input-group-1"
                                label="Surface (m²)"
                                label-for="input-1"
                            >
                                <b-form-input
                                id="input-1"
                                type="number"
                                v-model="propOnEdit.surface"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-form-group
                        id="input-group-1"
                        label="Description"
                        label-for="input-1"
                    >
                        <b-form-textarea
                            id="textarea"
                            v-model="propOnEdit.description"
                            placeholder="..."
                            rows="3"
                            max-rows="6"
                        ></b-form-textarea>
                    </b-form-group>

                    <b-button @click="submitEdition()" variant="primary">Enregistrer</b-button>
                    <b-button @click="cancelEditing()" variant="danger">Annuler</b-button>
                    </b-form>
                </div>
                <span tabindex="0"></span>
            </div>
        </div>
        <div v-if="isOperating" class="modal fade show" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-md" style="margin-top: 15%;">
                <div id="my-modal___BV_modal_content_" tabindex="-1" class="modal-content">
                    <span>OPERATION EN COURS ...</span>
                    <div id="my-modal___BV_modal_body_" class="modal-body">
                        <span role="status" class="spinner-border">
                        <span class="sr-only">Loading...</span>
                        </span>
                    </div>
                </div>
                <span tabindex="0"></span>
            </div>
        </div>
        <div v-if="isOperating || updatingProp" class="modal-backdrop"></div>
    </div>
</template>
<script>
import profileDataGetter from '../profileDataGetter'
import {ethers} from "ethers";
import { parseBytes32String } from 'ethers/lib/utils';

export default {
    data() {
        return {
            isOperating: false,
            cmpData: null,
            propsIdsList: null,
            myPropsCollections: [],
            updatingProp: false,
            propOnEdit: null
        }
    },
    mounted() {
        profileDataGetter.loadComponentData()
            .then(res => {
                    console.log('Res  :', res)
                    this.cmpData = res
                    this.getMyProps()
                }, error => {
                    console.error('Error : ', error)
                } 
            )
    },
    methods:{
        editeProperty(PID, prop){
            this.propOnEdit = prop
            this.updatingProp = true
        },
        cancelEditing(){
            this.updatingProp = false
            this.propOnEdit = null
        },
        submitEdition(){
            this.updatingProp = false
            this.isOperating = true
            this.cmpData.contract.methods.updatePropertie(this.propOnEdit.id, "nv nom de prop", 
            "new descriptions", 1)
            .send({ from: this.cmpData.accounts[0], gas: 300000 }).then(_ => {
                    this.isOperating = false
                    swal("Enregistrée!", "Votre bien a bien été enregistrer.", "success")
                    this.$router.push('/myprops');
                },error => {
                    this.isOperating = false
                    swal("Erreur!", "l'opération a échoué.", "Error")
            }  )             
        },
        getMyProps(){
            console.log('Acount 0 :', this.cmpData.accounts[0])
            this.cmpData.contract.methods.getPropertiesByOwner().call({ from: this.cmpData.accounts[0]}).then(props => {
                    console.log('props in sale : => ', props)
                    this.propsIdsList = props
                    this.getMyPropsWithDetails()
                })
        },
        getMyPropsWithDetails(){
            this.propsIdsList.forEach(PID => { //this.cmpData.contract.methods.isForSale
                this.cmpData.contract.methods.getProperty(parseInt(PID)).call().then(
                    currentProp =>{
                        console.log('currentProp', currentProp)
                        var propTypeName = null
                        if(currentProp.propType == 'house')
                            propTypeName = 'Maison'
                        else if(currentProp.propType == 'apartment')
                            propTypeName = 'Appartement'
                        else if(currentProp.propType == 'field')
                            propTypeName = 'Terrain'
                        else if(currentProp.propType == 'parking')
                            propTypeName = 'Place de parking'
                        else 
                            propTypeName = 'other'
                        this.cmpData.contract.methods.isForSale(parseInt(PID)).call().then(res=>{
                            this.myPropsCollections.push({
                                'id': parseInt(PID), 'isForSale': res,
                                'name': currentProp.name, 'description': currentProp.description,
                                'postalAddresse': parseBytes32String(currentProp.postalAddresse),
                                'creationDate' : parseBytes32String(currentProp.creationDate),
                                'price' : currentProp.price, 'surface' : currentProp.surface,
                                'propType': currentProp.propType, 'propTypeName' : propTypeName
                            } )
                        })
                        console.log('myPropsCollections : ', this.myPropsCollections)
                        //console.log('postal adr :', parseBytes32String(currentProp.postalAddresse))
                        //console.log('creation date:', parseBytes32String(currentProp.creationDate))
                    }
                )
            });
        },
        startSelling(propID){
            this.isOperating = true
            this.cmpData.contract.methods.addProperty(propID).send({ from: this.cmpData.accounts[0]}).then(result => {
                this.isOperating = false
                swal("Validé!", "Votre bien a bien était mis en vente.", "success")
                this.$router.push('/offers');
            }, error =>{
                this.isOperating = false
                swal("Errur!", "L'opération a échoué.", "error")
                this.$router.push('/offers');
            }
            )
        }
    }
}
</script>
<style>
.price{
    color: brown;
}
</style>