<template>
  <div id="app">
    <profileloading v-if="!profileLoaded"></profileloading>
    <hpage v-if="profileLoaded"></hpage>
  </div>
</template>

<script>
import Web3 from 'web3';
import hpage from './components/HomePage'
import profileloading from './components/Profile-loading'
import profileDataGetter from '../src/profileDataGetter'
export default {
  components: {hpage, profileloading},
  name: 'App',
  data(){
    return{
      profileLoaded: false
    }
  },
  mounted(){
    this.getAccounts()
  },
  methods: {
    getAccounts(){
      profileDataGetter.loadComponentData()
            .then(res => {
                this.profileLoaded = true
                swal("Vous êtes connectés!", "Votre compte a bien été récupérer.", "success")
            }, error => {
                swal("Erreur!", "Nous n'avons pas pu charger votre compte", "Erreur")
            } 
            )
    },
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
